* {
    font-family: "Quicksand", calibri;
    font-weight: 500;
    -webkit-tap-highlight-color: #0000;
    tap-highlight-color: #0000;
}

body {
    margin: 0;
    background-color: #e4e9ee;
    font-size: 16px;
}

.sec {
    margin: 0;
    padding: 120px 60px;
    font-size: 20px;
    background-color: #F4F4F8;
}

@media only screen and (min-width: 800px){
    #mainHold {
        display: flex;
        justify-content: space-around;
    }
    .card {
        margin: 20px;
        flex: 1;
    }
}

@media only screen and (max-width: 800px){
    .card {
        margin: 60px auto;
        max-width: 400px;
    }
}

#mainHold {
    margin: 40px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: #8c8c8c;
}

.title1 {
    font-size: 20px;
    margin: 0 0 10px 0;
    color: #262626;
}

button {
    border: 2px solid #4169E1;
    color: #4169E1;
    border-radius: 4px;
    padding: 6px;
    float: right;
    margin: 0 0 4px 6px;
    background-color: #0000;
    outline: none;
    cursor: pointer;
}

button:active {
    outline: none;
}